.orderForm {
    width: 20rem;
    margin: 0 auto;
    text-align: left;
}

.orderForm input {
    display:block;
    width: 95%;
    margin-bottom: 1rem;
    height:1.5rem;
}

.orderForm label {
    font-weight: bold;
}

.orderForm h1 {
    text-align: center;
    margin: 0;
}

.formControls {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.formControls button {
    height: 3rem;
    font-size: 1rem;
}

.invalid {
    background-color: #FF8484;
}