.categories {
    width: 25%;
    background-color: #222831;
    color: white;
    height: 100vh;
    margin-top: -4px;
    text-align: center;
    padding: 1rem;
}

.categories button {
    margin: 1rem;
    height: 3rem;
    font-weight: bold;
    width: 80%;
}