.header div {
    display:flex;
    background-color: #1E2022;
    color: white;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
    margin: 0;
    border: none;
}

.header button {
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

.header svg {
    height: 1.6rem;
    position: relative;
    top: 0.5rem;
}