.item {
  display: inline-block;
  height: 15rem;
  background-color: #C9D6DF;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  text-align: center;
  color: black;
}

.item img {
  height: 10rem;
  width: 13rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.itemControls {
  display: flex;
  justify-content: space-between;
  margin-top:0.5rem;
  padding: 0 1.5rem;
}
