.item {
    height: 15rem;
    background-color: #00ADB5;
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    text-align: center;
    color: white;
    
}

.item img {
    height: 10rem;
    width: 13rem;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

