.button {
    border: 1px solid #52616B;
    background: #52616B;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background: #829099;
    border-color: #829099;
  }
  
  .button:focus {
    outline: none;
  }

  .button:disabled {
    cursor: default;
    opacity: 0.3;
  }

  .button:disabled:hover {
    background-color: #52616B;
    border: 1px solid #52616B;
  }